pipeline/pl_carga_rango_fechas.json
{
	"name": "pl_carga_rango_fechas",
	"properties": {
		"activities": [
			{
				"name": "RangoFechas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @MinDate DATE = '2009-01-01',         @MaxDate DATE = '2009-05-01';  SELECT CONVERT(varchar,fechaCorte,23) AS fechaCorte, MONTH(fechaCorte) as mesCorte, YEAR(fechaCorte) as anioCorte FROM ( \tSELECT   \tTOP (DATEDIFF(MONTH, @MinDate, @MaxDate) + 1) \tfechaCorte = EOMONTH(DATEADD(MONTH, ROW_NUMBER() OVER(ORDER BY a.object_id) - 1, @MinDate))\n\tFROM    sys.all_objects a \n\tCROSS JOIN sys.all_objects b\n)fechas\nORDER BY fechaCorte;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TBL_TableLectura",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "RangoFechas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('RangoFechas').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "PL_copiaIncremental",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_copiaIncremental",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"año": {
										"value": "@item().anioCorte",
										"type": "Expression"
									},
									"mes": {
										"value": "@item().mesCorte",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Clase04"
		},
		"annotations": []
	}
}