pipeline/PL_ConsumoRest.json
{
	"name": "PL_ConsumoRest",
	"properties": {
		"activities": [
			{
				"name": "ConsultarHoraUniversal",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://worldclockapi.com/api/json/utc/now",
					"method": "GET"
				}
			},
			{
				"name": "SetDayOfTheWeek",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ConsultarHoraUniversal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "dayOfTheWeek",
					"value": {
						"value": "@activity('ConsultarHoraUniversal').output.dayOfTheWeek",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"dayOfTheWeek": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Clase Asincronica"
		},
		"annotations": []
	}
}