pipeline/PL_UsoFormulaManejoFechas.json
{
	"name": "PL_UsoFormulaManejoFechas",
	"properties": {
		"activities": [
			{
				"name": "SetFechaActual",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaActual",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetFormatoFecha",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetFechaActual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaFormatoPerzonalizado",
					"value": {
						"value": "@formatDateTime(variables('FechaActual'),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FechaActual": {
				"type": "String"
			},
			"FechaInicioMes": {
				"type": "String"
			},
			"FechaFormatoPerzonalizado": {
				"type": "String"
			},
			"FechaSumaPeriodo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Clase Asincronica"
		},
		"annotations": []
	}
}