adf-training-gaherrer/PartialArmTemplates/ArmTemplate_4_17_2021_12_15_39.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-training-gaherrer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/p_holamundo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "establecer salud",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var1",
							"value": "hola data factory de prueba Giomy"
						}
					}
				],
				"variables": {
					"var1": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Clase3"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Taller')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lockup Ingesta",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM par.CatIngesta",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TBL_TableLectura",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lockup Ingesta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@array(activity('Lockup Ingesta').output.value)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().tipoTabla",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "stock",
												"activities": [
													{
														"name": "CopyStock",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderQuery": {
																	"value": "@item().consulta",
																	"type": "Expression"
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "TBL_TableLectura",
																"type": "DatasetReference"
															}
														],
														"outputs": [
															{
																"referenceName": "ResultadoIngesta",
																"type": "DatasetReference",
																"parameters": {
																	"tabla": {
																		"value": "@item().tabla",
																		"type": "Expression"
																	},
																	"esquema": {
																		"value": "@item().esquema",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											},
											{
												"value": "history",
												"activities": [
													{
														"name": "CopyHistory",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "AzureSqlSource",
																"sqlReaderQuery": {
																	"value": "@replace(item().consulta, '{{fechaCorte}}', pipeline().parameters.FechaCorte)",
																	"type": "Expression"
																},
																"queryTimeout": "02:00:00",
																"partitionOption": "None"
															},
															"sink": {
																"type": "DelimitedTextSink",
																"storeSettings": {
																	"type": "AzureBlobFSWriteSettings"
																},
																"formatSettings": {
																	"type": "DelimitedTextWriteSettings",
																	"quoteAllText": true,
																	"fileExtension": ".txt"
																}
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "TBL_TableLectura",
																"type": "DatasetReference"
															}
														],
														"outputs": [
															{
																"referenceName": "ResultadoHistory",
																"type": "DatasetReference",
																"parameters": {
																	"FechaCorte": {
																		"value": "@pipeline().parameters.FechaCorte",
																		"type": "Expression"
																	},
																	"tabla": {
																		"value": "@item().tabla",
																		"type": "Expression"
																	},
																	"esquema": {
																		"value": "@item().esquema",
																		"type": "Expression"
																	}
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"FechaCorte": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TallerPractico"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ResultadoIngesta')]",
				"[concat(variables('factoryId'), '/datasets/ResultadoHistory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResultadoIngesta')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tabla": {
						"type": "string"
					},
					"esquema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().tabla}.csv",
							"type": "Expression"
						},
						"folderPath": {
							"value": "Taller/@{dataset().esquema}/@{dataset().tabla}",
							"type": "Expression"
						},
						"fileSystem": "aci-gaherrer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ResultadoHistory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FechaCorte": {
						"type": "string"
					},
					"tabla": {
						"type": "string"
					},
					"esquema": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{dataset().tabla}_@{dataset().FechaCorte}.csv",
							"type": "Expression"
						},
						"folderPath": {
							"value": "Taller/@{dataset().esquema}/@{dataset().tabla}",
							"type": "Expression"
						},
						"fileSystem": "aci-gaherrer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}